@charset "UTF-8";

ul {
  list-style-type: none;
  margin: 0;
  padding: 15px 0px;
  width: 100%;
  text-align:center;
  background: #ffb373;
}

li a {
  display: block;
  color: white;
  padding: 20px 0px;
  text-decoration: none;
  font-size: 175%;
}

li a .active {
  background-color:  #7fc0eb ;
  color: white;
}

li a:hover:not(.active) {
  background-color: #98d7de;
  color: white;
}

.container{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: "left-column middle-column right-column";
  width: 100%;
  margin: 0px 0px;
  height: 100%;
}

.left-column{
  grid-area: left-column;
  padding: 0;
  background-color:  #ffb373;
  color: white;
  position: fixed;
  width:20%;
  height: 100%;
}
.right-column{
  grid-area: right-column;
}

.middle-column{
	grid-area: middle-column ;
	padding: 50px 70px;
	background-color:#e5ffdb;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 51%;
}

.reseausociaux {
	margin-left: 10%;
}

h1 {
	font-size: 300%;
	color:#ff6c00  ;
	font-family: Century Gothic;
}

