@charset "UTF-8";

ul {
  list-style-type: none;
  margin: 0;
  padding: 15px 0px;
  width: 100%;
  text-align:center;
  background: #ffb373;
}

li a {
  display: block;
  color: white;
  padding: 20px 0px;
  text-decoration: none;
  font-size: 175%;
}

li a .active {
  background-color:  #7fc0eb ;
  color: white;
}

li a:hover:not(.active) {
  background-color: #98d7de;
  color: white;
}

.container{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: "left-column middle-column right-column";
  width: 100%;
  margin: 0px 0px;
  height: 100%;
}

.left-column{
  grid-area: left-column;
  padding: 0;
  background-color:  #ffb373;
  color: white;
  position: fixed;
  width:20%;
  height: 100%;
}
.right-column{
  grid-area: right-column;
  background-color: #f3eeb9 ;
}

.middle-column{
	grid-area: middle-column ;
	padding: 50px 70px;
	background-color:#e5ffdb;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reseausociaux {
	margin-left: 10%;
}

h1 {
	font-size: 450%;
	color:#ff7000  ;
	font-family: Century Gothic;
	font-weight: bold;
	margin-top: 10px;
}

h2{
	font-size: 300%;
	color:  #ffa438  ;
	font-family:Goudy Old Style;
	font-weight: bold;
	text-decoration: underline;
	margin-top:40px;
}
h3{
	font-size: 200%;
	font-weight: bold;
	margin-left: 25px;
	text-decoration: underline;
	margin-top:25px;
}

p{
	font-size:110%;
	margin-left:40px;
}
section{
	margin-top: 80px;
}

.skilltable{
	margin-left:40px;
}
.skill1{
	width:70%;
}
.skill2{
	width:30%;
}

td{
	font-size:110%;
	padding-top:7px;
}
.HH4{
	font-size:140%;
	font-weight:bold;
}
.HH5{
	font-size:115%;
	font-weight:bold;
}

a:link.lien{
	font-weight:bold;
	color:blue;
	text-decoration:none;
}
a:visited.lien{
	font-weight:bold;
	color:#9900ff;
	text-decoration:none;
}
.nexttrip{
	margin-left:45px;
	color:  #a2a2a2 ;
}
.imagegauche{
	margin-top:15px;
	margin-left:5px;
	margin-right:5px;
}